.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.devmessage {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: #68b9fb;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roadmap {
    background-color: #68b9fb;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.html {
    width: 3%;
}

.progresses {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: #68b9fb;
    text-shadow: 2px 2px 4px #000000;
}
